@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
  background: linear-gradient(40deg, #201f1f, #180231);
}
*{
  font-family: "Dongle", sans-serif;
}

@import "tailwindcss";

.font-roboto{
  font-family: "Roboto", sans-serif;
}
.height-max-66vh-500px{
  @media (width >= 768px) {
    min-height: max(66vh, 500px);
  }

  @media (width <= 1024px) and (height >= 800px) {
    min-height: 500px;
  }
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0.1) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 7px;
  border: none;
}
*:focus{
  outline: none;
}
.ProseMirror p.is-empty::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
.ProseMirror p:not(:first-child).is-empty::before {
    display: none;
}
.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.ProseMirror li {
  margin: 0.25rem 0;
}